<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Мини приложение</title>
    {% load static %}

</head>
<body>
{% load staticfiles %}
<style>
 .transparent75 {
    filter: alpha(Opacity=75); /* Полупрозрачность для IE */
    opacity: 0.75; /* Полупрозрачность для других браузеров */
   }
   .transparent50 {
    filter: alpha(Opacity=50);
    opacity: 0.5;
   }
   .transparent25 {
    filter: alpha(Opacity=25);
    opacity: 0.25;
   }
  </style>

<nav class="navbar sticky-top navbar-expand-lg " style="background: #000000; font-family: Lato, sans-serif">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" style="color: #DCE4E8; font-family: Lato, sans-serif" href="#">Mini application</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: #DCE4E8; font-family: Lato, sans-serif" href= '{% url 'home' %}' >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: #DCE4E8; font-family: Lato, sans-serif" href="{% url 'students' %}">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color: #DCE4E8; font-family: Lato, sans-serif" href="{% url 'teachers' %}">Teachers</a>
      </li>
    </ul>
    {% if user.is_active %}
        <a class="nav-link" href = "{% url 'profile' %}" class="nav-link" style="color: #DCE4E8; font-family: Lato, sans-serif">{% load account %}{% user_display user %}</a>
        <a class="nav-link" href = "{% url 'account_logout' %}" class="nav-link" style="color: #DCE4E8; font-family: Lato, sans-serif">Sign out</a>
    {% else %}
        <form class="form-inline ">
            <a class="btn btn-primary" href = "{% url 'account_login' %}" style="color: #DCE4E8; border-color: #DCE4E8; background: #000000; font-family: Lato, sans-serif" role = "button">Sign In</a>
        </form>
        <form class="form-inline ">
            <a class="btn btn-primary" href = "{% url 'account_signup' %}" style="color: #DCE4E8; border-color: #DCE4E8; background: #000000; font-family: Lato, sans-serif" role = "button">Sign Up</a>
        </form>
    {% endif %}
  </div>
</nav>
<div>
{% block content %}

{% endblock %}
</div>

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>